@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  min-height: 95vh;
}

h1{
  font-size: 40px;
  font-weight: 500;
}

.footer{
  margin-top: auto;
  margin-bottom: 5px;
}