@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  box-sizing: border-box;
  background: lightcyan;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  min-height: 95vh;
}

h1{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 45px;
}

.square {
  font-size: 40px;
  height: 85px;
  width: 85px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #999;
  font-weight: 600;
  cursor: pointer;
  margin-top: -1;
  margin-left: -1;
  line-height: 85px;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
}

.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  margin-top: auto;
  margin-bottom: 5px;
}